[defaults]
# FreeBSD chmod does not support Linux POSIX ACL syntax.
# This allows Ansible to become unprivileged users (e.g. postgres)
# by making temp files world-readable instead of using ACLs.
allow_world_readable_tmpfiles = true
pipelining = true

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r
